/*
all rc files accepts only json , they dont accepts javascripts 
json and javascript objects are different they are not same

this is javascript object :
presets: [['@babel/preset-env', {targets: {node: 'current'}}]]

below one is converted to the json
*/

{
  "presets": [
    // it will make to support "import" outside the browser
    ["@babel/preset-env", { "targets": { "node": "current" } }],

    // it will help to convert jsx to plain html in jsdom
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}
